@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

#emptyListComponent {
  margin-top: 10px;
  margin-bottom: 0;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px 5px 0 0;
}

#emptyListText {
  font-size: 18px;
  font-family: "Josefin Sans";
  color: #9394a5;
}
