@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

#titleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

#titleText {
  color: white;
  font-family: "Josefin Sans";
  font-weight: 700;
  letter-spacing: 0.5em;
}

#darkLightIcon {
  width: 26px;
  height: 26px;
  background-size: 26px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
