.App {
  display: flex;
  justify-content: center;
}

#appBackgroundImg {
  position: absolute;
  z-index: -1;
  height: 300px;
  width: 100%;
  top: 0;
  background-image: url("../public/bg-desktop-light.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#appContainer {
  width: 500px;
  padding-top: 50px;
}

#listContainer {
  max-height: 600px;
  overflow-y: auto;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}
